.site-title {
  color: white;
}

.site-text a {
  text-decoration: none;
}

.header {
  background-color: #2a2a2a;
  padding-top: 10px;
}

.contact-info i {
  color: #ff8811 !important;
}

.contact-info span {
  color: white;
  margin-right: 15px;
}

@media (min-width: 1200px) {
  .contact-info {
    display: inline-block;
  }
  .site-title {
    white-space: nowrap;
  }
}
@media (min-width: 992px) and (max-width: 1119px) {
  .contact-info {
    display: block;
  }
  .site-title {
    white-space: nowrap;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-info {
    display: block;
  }
  .site-title {
    font-size: 1.3rem !important;
    white-space: nowrap;
  }
  .site-logo img {
    height: 55px;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .contact-info {
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 574) {
  .contact-info {
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 574) {
  .contact-info {
    display: block;
  }
}
@media (max-width: 479px) {
  .contact-info {
    display: block;
  }
}
