<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-sm-6" style="margin-bottom: 25px">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pg student Admission link 2016</h5>
          <p class="card-text">The list contains list of admissions.</p>
          <a
            href="assets/pdfs/PG admission 2016.pdf"
            target="_blank"
            class="btn btn-primary"
            >Click here</a
          >
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">More information</h5>
          <p class="card-text">Visit given links for more information</p>
          <a href="http://www.dmer.org " class="btn btn-primary">Click here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MD/MS Courses:</h5>
        <p class="card-text">
          This college has postgraduate facilities in all major branches. Every
          year around 144 students are admitted for PG courses (MD/MS/Diploma).
          The distribution of seats is 25% by All India entrance exam, 25% in
          service Medical officer's quota and remaining by State Level Enterance
          Exam.
        </p>
      </div>
      <div class="card-footer"></div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">DM/M.Ch. Super Speciality:</h5>
        <p class="card-text">
          it is availbale in cardiophoric surgery. Annual admissions is 1,
          through all India competitive exam.
        </p>
      </div>
      <div class="card-footer"></div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">DMLT COURSE:</h5>
        <p class="card-text">
          The College conducts DMLT course for training technicians. There are
          10+6 seats and the duration of course is one and half years.
        </p>
      </div>
      <div class="card-footer"></div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            INDIRA GANDHI NATIONAL OPEN UNIVERSITY (IGNOU) COURSES
          </h5>
          <p class="card-text">
            PGDMCH- PG Diploma in Maternal & Child Health PGDGM- PG Diploma in
            Geriatric Medicine
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>
<!--
<h1><strong>RESULTS: MD/MS: MUHS EXAMINATIONS HELD IN MAY 2013</strong></h1>
table class="texthead2" border="1" width="100%" cellspacing="2" cellpadding="5">
<tbody>
<tr>
<td>
<p><strong>Subject</strong></p>
</td>
<td>
<p><strong>No. Appeared</strong></p>
</td>
<td>
<p><strong>No. Passed</strong></p>
</td>
<td>
<p><strong>College Pass %</strong></p>
</td>
</tr>
<tr>
<td>
<p>Anatomy</p>
</td>
<td>
<p>1</p>
</td>
<td>
<p>0</p>
</td>
<td>
<p>0</p>
</td>
</tr>
<tr>
<td>
<p>Biochemistry</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Physiology</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>75</p>
</td>
</tr>
<tr>
<td>
<p>Microbiology</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Pathology</p>
</td>
<td>
<p>5</p>
</td>
<td>
<p>5</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Pharmacology</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>75</p>
</td>
</tr>
<tr>
<td>
<p>PSM</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>0</p>
</td>
<td>
<p>0</p>
</td>
</tr>
<tr>
<td>
<p>Anaesthesiology</p>
</td>
<td>
<p>10</p>
</td>
<td>
<p>10</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>General Medicine</p>
</td>
<td>
<p>16</p>
</td>
<td>
<p>11</p>
</td>
<td>
<p>69</p>
</td>
</tr>
<tr>
<td>
<p>Paediatrics</p>
</td>
<td>
<p>5</p>
</td>
<td>
<p>5</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Psychiatry</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>T.B &amp; Chest</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Skin &amp; V.D</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Radiology</p>
</td>
<td>
<p>6</p>
</td>
<td>
<p>6</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Obst. &amp; Gynaecology</p>
</td>
<td>
<p>9</p>
</td>
<td>
<p>9</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>ENT</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>General Surgery</p>
</td>
<td>
<p>15</p>
</td>
<td>
<p>13</p>
</td>
<td>
<p>86.66</p>
</td>
</tr>
<tr>
<td>
<p>Ophthalmology</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>66.66</p>
</td>
</tr>
<tr>
<td>
<p>Orthopaedics</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>CVTS</p>
</td>
<td>
<p>--</p>
</td>
<td>
<p>--</p>
</td>
<td>
<p>--</p>
</td>
</tr>
</tbody>
</table>
<p><u><br /><br /></u></p>
<table class="texthead2" border="0" width="100%" cellspacing="2" cellpadding="2">
<tbody>
<tr>
<td>
<p>RESULTS: DIPLOMA&Acirc;&nbsp; MUHS EXAMINATIONS HELD IN MAY 2013</p>
</td>
</tr>
</tbody>
</table>
<p><u><br /><br /></u></p>
<table class="texthead2" border="1" width="100%" cellspacing="2" cellpadding="5">
<tbody>
<tr>
<td>
<p><strong>Subject</strong></p>
</td>
<td>
<p><strong>No. Appeared</strong></p>
</td>
<td>
<p><strong>No. Passed</strong></p>
</td>
<td>
<p><strong>College Pass %</strong></p>
</td>
</tr>
<tr>
<td>
<p>Dip. Pathology</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>75</p>
</td>
</tr>
<tr>
<td>
<p>Dip. P.S.M</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>1</p>
</td>
<td>
<p>50</p>
</td>
</tr>
<tr>
<td>
<p>Dip. Anaesthesiology</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Dip. Pediatrics</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Dip. Psychiatry</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>1</p>
</td>
<td>
<p>50</p>
</td>
</tr>
<tr>
<td>
<p>Dip. T.B &amp; Chest</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Dip. Skin &amp; V.D</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Dip. Radiology</p>
</td>
<td>
<p>4</p>
</td>
<td>
<p>3</p>
</td>
<td>
<p>75</p>
</td>
</tr>
<tr>
<td>
<p>Dip. Obst. &amp; Gynaecology</p>
</td>
<td>
<p>8</p>
</td>
<td>
<p>7</p>
</td>
<td>
<p>87.5</p>
</td>
</tr>
<tr>
<td>
<p>Dip. ENT</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>2</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Dip. Ophthalmology</p>
</td>
<td>
<p>1</p>
</td>
<td>
<p>1</p>
</td>
<td>
<p>100</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

<google-chart #chart
   [title]="title"
   [type]="type"
   [data]="data"

   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>

-->
