<div class="container mx-auto">
  <div class="row">
    <div class="col-12 col-sm-12">
      <h3>Non-Teaching Staff</h3>
      <hr />
    </div>
  </div>
  <div *ngIf="data2">
    <table
      datatable
      [dtOptions]="dtOptions"
      class="table table-bordered table-hover table-striped"
    >
      <thead [ngStyle]="{ 'background-color': theme.primary }" align="center">
        <tr>
          <th>NAME</th>

          <th>POST</th>
        </tr>
      </thead>
      <tbody>
        <tr id="row" *ngFor="let item of data2">
          <td>{{ item.name }}</td>
          <td>{{ item.post }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
