<div class="container my-3">
  <div>
    <h2 class="decorated"><span>Non-Teaching Staff</span></h2>
    <hr />
  </div>
  <!-- <div class="row">
    <div class="col-12 col-sm-12">
      <h3>Non-Teaching Staff</h3>
      <hr />
    </div>
  </div> -->
  <div class="container con1">
    <div *ngIf="data2">
      <table
        datatable
        [dtOptions]="dtOptions"
        class="row-border table-striped table-bordered hover"
      >
        <thead>
          <tr>
            <th scope="col">NAME</th>

            <th scope="col">POST</th>
          </tr>
        </thead>
        <tbody>
          <tr id="row" *ngFor="let item of data2">
            <td>{{ item.name }}</td>
            <td>{{ item.post }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
