h3,
p {
  color: white;
}

.fa-phone {
  color: #ff8811;
  margin-right: 10px;
}

.fa-envelope {
  color: #ff8811;
  margin-right: 10px;
}

.fa-map-marker {
  color: #ff8811;
  margin-right: 10px;
}

.fa-chevron-right {
  color: #ff8811;
  margin-right: 5px;
}

a {
  margin-bottom: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 0;
}

/*
footer {
  padding: 1rem;
} */

.chat-bot {
  width: 2rem;
  height: 2rem;

  color: white;
  position: fixed;
  bottom: 18%;
  right: 3%;
  z-index: 100;
}
.close {
  background-color: transparent;
  color: white;
  opacity: 1;
}

.fa-chevron-right {
  color: #ff8811;
}

a.move-up {
  font-size: 50px;
  color: #ff8811;
  display: inline-block;
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 0;
  scroll-behavior: smooth;
}
