<footer class="py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="row">
      <div class="col-lg-7 w3l-footer">
        <!-- logo -->
        <div class="logo2">
          <h2>
            <a href="assets/index.html">
              <span class="fa fa-user-md mr-2"></span>
              <span class="logo-sp">SASSOON </span> GENERAL HOSPITALS
            </a>
          </h2>
        </div>
        <!-- //logo -->
        <p class="mt-4 text-li">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
        <ul class="list-unstyled list-styles mt-lg-5 mt-4">
          <li>
            <p class="text-li">
              <span class="fa fa-location-arrow mr-2"></span>Pune, Maharashtra
            </p>
          </li>
          <li class="my-3">
            <p class="text-li">
              <span class="fa fa-phone mr-2"></span>1234567890
            </p>
          </li>
          <li>
            <a href="mailto:deanbjmcpune@gmail.com" class="text-wh"
              ><span class="fa fa-envelope-open mr-2"></span
              >deanbjmcpune@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-5 w3l-footer mt-lg-0 mt-5">
        <h3 class="mb-sm-4 mb-3 text-wh">Partners</h3>
        <ul class="list-unstyled list-part text-wh pt-lg-3">
          <li><span class="fa fa-500px" aria-hidden="true"></span></li>
          <li class="mx-4">
            <span class="fa fa-gg" aria-hidden="true"></span>
          </li>
          <li><span class="fa fa-lastfm" aria-hidden="true"></span></li>
          <li class="mx-4">
            <span class="fa fa-openid" aria-hidden="true"></span>
          </li>
          <li><span class="fa fa-angellist" aria-hidden="true"></span></li>
        </ul>
        <!-- <div class="n-right-w3ls mt-5 pt-lg-4">
          <h3 class="mb-sm-4 mb-3 text-wh">Newsletter</h3>
          <form action="#" method="post">
            <div class="row pt-2">
              <div class="col-8 form-group">
                <input
                  class="form-control"
                  type="email"
                  name="Email"
                  placeholder="Email Address"
                  required=""
                />
              </div>
              <div class="col-4 form-group p-sm-0 pl-0">
                <button class="btn btn-outline-warning" type="submit">
                  Subscribe
                </button>
              </div>
            </div>
          </form>
        </div> -->
      </div>
    </div>
  </div>
</footer>
