<div class="container mx-auto">
  <div class="row">
    <div class="col-12 col-sm-12">
      <h3>Awards and Achievements</h3>
      <hr />
    </div>
  </div>
  <div *ngIf="Awards">
    <table
      datatable
      [dtOptions]="dtOptions"
      class="row-border hover table-bordered"
    >
      <thead [ngStyle]="{ 'background-color': theme.primary }" align="center">
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th>Achievement</th>
          <th>Department</th>
          <th>Date</th>
          <th>Place</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of Awards">
          <td>{{ a.Name }}</td>
          <td>{{ a.Designation }}</td>
          <td>{{ a.Achievement }}</td>
          <td>{{ a.Department }}</td>
          <td>{{ a.Date_day }} {{ a.Date_month }} {{ a.Date_year }}</td>
          <td>{{ a.Place }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
