button,
button:hover {
  font-family: "Roboto";
  background-color: #007fff;
  color: white;
}
.card-header {
  background-color: #007fff;
  font-family: "Roboto";
  color: white;
}
.card {
  padding-bottom: 20px;
}
input {
  font-family: "Roboto";
}
table {
  font-family: "Roboto";
}
@media (min-width: 768px) and (max-width: 991px) {
  .btn-group {
    margin: 10px 0;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .btn-group {
    margin: 10px 0;
    width: 150px;
  }
}
@media (min-width: 480px) and (max-width: 574px) {
  .btn-group {
    margin: 10px 0;
    width: 150px;
  }
}

@media (max-width: 479px) {
  .btn-group {
    margin: 10px 0;
    width: 150px;
  }
}
