<div
  class="display-1 my-3"
  [ngStyle]="{ 'background-color': theme.background }"
>
  <div class="container">
    <h1 [ngStyle]="{ color: theme.text }">Committees</h1>
    <div>
      <!-- <a> -->
      <!-- <embed src="../../../../assets/committees.pdf" type="application/pdf" width="100%" height="800px"/> -->
      <!-- </a> -->
      <iframe
        name="committeePdf"
        id="committeePdf"
        width="100%"
        height="700px"
        src="/assets/pdfs/committees.pdf#view=FitH"
      >
      </iframe>
    </div>
  </div>
</div>
