.univheading {
  padding: 10px;
  background-color: #007fff;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 20px 0;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  color: #007fff;
  width: 120px;
  text-align: center;
}
nav .active {
  color: white;
  background-color: #007fff;
}
.nav a:hover {
  color: white;
  background-color: #007fff;
}
@media (min-width: 480px) and (max-width: 574px) {
  .nav-item {
    width: 110px;
  }
}
@media (max-width: 479px) {
  .nav-item {
    width: 110px;
  }
}
