<div class="card-journals row row-cols-1 row-cols-md-4">
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Walters Kluwer</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Informatic</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Globe Pub.</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Cambridge Press
        </a>
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >MD Counsult
        </a>
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >National Medical Library
        </a>
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >W.H.O.</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Springer Journal</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Elsevier</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Free Medical Journal
        </a>
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Elsevier Medical Pub
        </a>
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Globellist of websites
        </a>
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Pub Med Home Med
        </a>
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Oxford Journal
        </a>
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Wiley Interscience Jr.</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >America Assn Medi</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Academic Medicine</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Science Direct</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Medical information Resources</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Medicine website Resources
        </a>
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Medicine</a
        >
      </div>
    </div>
  </div>
  <div class="card-journal col mb-3">
    <div class="card h-100">
      <img
        src="https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
        class="card-img-top"
        alt="..."
      />
      <div
        class="card-body text-center shadow rounded"
        style="background: rgba(128, 220, 241, 0.823)"
      >
        <a class="card-title h5 text-decoration-none text-primary" href=""
          >Lippincott Williams & wilkins
        </a>
      </div>
    </div>
  </div>
</div>
