<div *ngIf="journals.length === 0" class="container">
  <app-loading-page></app-loading-page>
</div>

<div
  *ngIf="journals.length !== 0"
  class="card-journals bg-white container my-3"
>
  <div class="card-journal" *ngFor="let item of journals">
    <a href="{{ item.link }}" target="_blank" class="text-decoration-none">
      <div class="card h-100">
        <img
          src="assets/resources/journal.jpg"
          class="card-img-top"
          alt="journal image"
        />
        <div class="card-body text-center shadow rounded">
          <p class="card-title h5 text-decoration-none">{{ item.title }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- row-cols-1 row-cols-md-4 -->
