/* .card-journal:hover {
  transform: scale(1.05);
  transition: all 200ms linear 0;
} */

p:hover {
  color: #007fff;
}

.card-journal {
  width: 15rem;
  height: 20rem;
  margin: 15px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-journals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.card-journal {
  transition-property: transform;
  transition-duration: 1s;
  /* border-radius: 20px; */
}
.card-journal:hover {
  /* background-color: #007fff; */
  /* border: 2px solid #007fff; */
  /* border-radius: 20px #007fff; */
  box-shadow: 0 0 10px #007fff;
  transform: scale(1.02);
}

img {
  height: 60%;
}
