.card-body,
.card-footer,
.card-header {
  text-align: center;
  width: 100%;
  line-height: 0.9;
  background-color: white;
  border-bottom: none;
}
.card {
  height: fit-content;
  width: 100%;
  box-shadow: none;
}
.primary-btn:focus {
  outline-style: none;
}

/* Responsive css */

/* width <= 992 (small and medium devices) */

@media screen and (max-width: 992px) {
  .landm {
    display: none;
  }
  .card {
    box-shadow: none;
    border: none;
  }
  .card-footer {
    font-size: small;
  }
  .card-body {
    font-weight: bold;
  }
  #mainAccordion {
    width: 100%;
  }
  .board:hover {
    box-shadow: 5px 5px 15px grey;
  }
  .board-btn {
    color: #007fff;
  }
  .deanscard,
  .adminoffcard,
  .officesupcard,
  .medsupcard {
    height: 100%;
    box-shadow: 0 0 10px #007fff;
    /* border: 2px solid #007fff; */
    border-radius: 20px;
    transition: transform 1s;
  }
  .modal-card {
    box-shadow: 0 0 10px #007fff;
    border-radius: 20px;
  }
  .deanscard:hover,
  .adminoffcard:hover,
  .officesupcard:hover,
  .medsupcard:hover {
    transform: scale(1.08);
  }
  .modal-img {
    width: 100px;
    margin-left: 0;
    float: left;
    height: 100px;
    display: absolute;
    left: 0;
  }
  .primary-btn {
    position: absolute;
    right: 10px;
  }
}

/* Width >= 992 (large and extra large (width > 1200px) device) */

@media screen and (min-width: 992px) {
  .smallview {
    display: none;
  }

  .card {
    height: 100%;
    background-color: white !important;
    box-shadow: 1px 1px 5px rgb(113, 113, 113);
    position: relative;
    transition: transform 1s;
  }
  .card:hover {
    box-shadow: 0 0 15px #007fff;
    transform: scale(1.05);
    z-index: 2;
  }
  .dean:hover,
  .superintendents:hover,
  .officers:hover,
  .adminoff:hover {
    transform: none;
    z-index: initial;
  }

  .card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* CSS for Hierarchy Lines */
  /* .dean,
  .ugdean,
  .pgdean,
  .vicedean,
  .superintendents,
  .medsup,
  .officers,
  .dymedsup,
  .sghoffsup1,
  .nursingoffsup,
  .sghoffsup2,
  .adminoff,
  .bjgmcsghadminoff,
  .bjgmcadminoff,
  .sghadminoff {
    position: relative;
  } */

  /* Vertical lines below:- */
  /* Vertical line below Dean */
  .dean::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 12%;
    top: 100%;
    left: 45%;
  }
  /* Vertical line below UGDean */
  .ugdean::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 7%;
    top: 100%;
    left: 50%;
  }
  /* Vertical line below PGDean */
  .pgdean::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 15%;
    top: 100%;
    left: 50%;
  }
  /* Vertical line below ViceDean */
  .vicedean::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 7%;
    top: 100%;
    left: 50%;
  }
  /* Vertical line below Superintendents */
  .superintendents::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 50%;
    top: 100%;
    left: 45%;
  }
  /* Vertical line below Medical Superintendent */
  .medsup::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 30%;
    top: 100%;
    left: 50%;
  }
  /* Vertical line below Officers */
  .officers::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 265%;
    top: 100%;
    left: 50%;
  }
  /* Vertical line below Office Superintendent (SGH) */
  .sghoffsup1::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 28%;
    top: 82%;
    left: 50%;
  }
  /* Vertical line below Office Superintendent (Nursing) */
  .nursingoffsup::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 37%;
    top: 91%;
    left: 50%;
  }
  /* Vertical line below Office Superintendent (SGH) */
  .sghoffsup2::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 28%;
    top: 82%;
    left: 50%;
  }
  /* Vertical line below Administrative Officers */
  .adminoff::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 90%;
    top: 100%;
    left: 50%;
  }
  /* Vertical lines above */
  /* Vertical line above Dy.Dean (UG) */
  .ugdean::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 10%;
    top: -10%;
    left: 50%;
  }
  /* Vertical line above Vice Dean */
  .vicedean::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 10%;
    top: -10%;
    left: 50%;
  }
  /* Vertical line above Medical Superintendent */
  .medsup::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 14%;
    top: -14%;
    left: 50%;
  }
  /* Vertical line above Officers */
  .officers::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 43%;
    top: -43%;
    left: 50%;
  }
  /* Vertical line above SGH1 Officer Superintendent */
  .sghoffsup1::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 30%;
    top: -30%;
    left: 50%;
  }
  /* Vertical line above SGH2 Officer Superintendent */
  .sghoffsup2::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 30%;
    top: -30%;
    left: 50%;
  }
  /* Vertical line above Administrative Officer (BJGMC/SGH) */
  .bjgmcsghadminoff::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 10%;
    top: -10%;
    left: 50%;
  }
  /* Vertical line above Administrative Officer (SGH) */
  .sghadminoff::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 10%;
    top: -10%;
    left: 50%;
  }
  /* Horizontal lines:- */
  /* Horizontal line below dean */
  .dean::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 167%;
    height: 3px;
    bottom: -4%;
    left: -38%;
  }
  /* Horizontal line below Dy Dean(PG) */
  .pgdean::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 220%;
    height: 3px;
    bottom: -7%;
    left: -60%;
  }
  /* Horizontal line below Superintendents */
  .superintendents::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 176%;
    height: 3px;
    bottom: -55%;
    left: -50%;
  }
  /* Horizontal line below Officers */
  .nursingoffsup::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 201%;
    height: 3px;
    top: -30%;
    left: -50%;
  }
  /* Horizontal line below Nursing */
  .adminoff::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 101%;
    height: 3px;
    top: -49%;
    left: 0;
  }
  /* Horizontal line below Admin Officers */
  .bjgmcadminoff::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 201%;
    height: 3px;
    top: -10%;
    left: -50%;
  }

  /* Width >= 1200 (extra-large device) */
  @media screen and (min-width: 1200px) {
    /* Vertical line below UGDean */
    .ugdean::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 10%;
      top: 100%;
      left: 50%;
    }
    /* Vertical line below Superintendents */
    .superintendents::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 55%;
      top: 100%;
      left: 44%;
    }
    /* Vertical line below Office Superintendent (SGH) */
    .sghoffsup1::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 31%;
      top: 82%;
      left: 50%;
    }
    /* Vertical line below ViceDean */
    .vicedean::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 10%;
      top: 100%;
      left: 50%;
    }
    /* Vertical line below PGDean */
    .pgdean::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 14%;
      top: 100%;
      left: 50%;
    }
    /* Vertical line below Office Superintendent (Nursing) */
    .nursingoffsup::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 42%;
      top: 91%;
      left: 50%;
    }
    /* Vertical line below Office Superintendent (SGH) */
    .sghoffsup2::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 30%;
      top: 82%;
      left: 50%;
    }
    /* Vertical line above Dy.Dean (UG) */
    .ugdean::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 9%;
      top: -9%;
      left: 50%;
    }
    /* Vertical line above Vice Dean */
    .vicedean::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 9%;
      top: -9%;
      left: 50%;
    }
    /* Vertical line above Medical Superintendent */
    .medsup::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 12%;
      top: -12%;
      left: 50%;
    }
    /* Vertical line above Officers */
    .officers::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 38%;
      top: -38%;
      left: 50%;
    }
    /* Vertical line above Administrative Officer (BJGMC/SGH) */
    .bjgmcsghadminoff::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 15%;
      top: -15%;
      left: 50%;
    }
    /* Vertical line above Administrative Officer (SGH) */
    .sghadminoff::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 3px;
      height: 15%;
      top: -15%;
      left: 50%;
    }
    /* Horizontal lines:- */
    /* Horizontal line below dean */
    .dean::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 164%;
      height: 3px;
      bottom: -4%;
      left: -38%;
    }
    /* Horizontal line below Dy Dean(PG) */
    .pgdean::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 217%;
      height: 3px;
      bottom: -10%;
      left: -58%;
    }
    /* Horizontal line below Superintendents */
    .superintendents::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 176%;
      height: 3px;
      bottom: -60%;
      left: -50%;
    }
    /* Horizontal line below Nursing */
    .adminoff::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 101%;
      height: 3px;
      top: -45%;
      left: 0;
    }
    /* Horizontal line below Admin Officers */
    .bjgmcadminoff::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 201%;
      height: 3px;
      top: -15%;
      left: -50%;
    }
  }
}

/* Flip-card css */

/* .back-card,
.front-card {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s;
}

.back-card {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;

    overflow: auto;
}

.card:hover .back-card {
    transform: rotateY(360deg);
    height: 100%;
    width: 100%;
}

.card:hover .front-card {
    transform: rotateY(180deg);
} */

/* Modal css */
.modal-left {
  float: left;
  text-align: left;
  line-height: 1.2;
}

.modal-right {
  margin-left: 25%;
  text-align: left;
  line-height: 1.2;
}

.container,
.modal {
  font-family: "Roboto", sans-serif;
}
