<!-- <p class="display-1" [ngStyle]="{ 'background-color': theme.primary }">
  hostel works!
</p> -->
<section>
  <div class="container">
    <h1 style="text-align: center" class="my-5">Hostel Facilities</h1>
    <table
      class="table table-stipped table-border table-hover"
      border="2"
      width="100%"
      cellspacing="2"
      cellpadding="5"
    >
      <tbody>
        <tr>
          <td colspan="2" class="thead">
            <h3 align="center">Accommodation (No. of rooms) available for</h3>
          </td>
        </tr>
        <!-- <tr>
          <td colspan="2">
            <p><strong>For U. G. Students</strong></p>
          </td>
        </tr> -->
        <tr>
          <td width="50%">
            <p><strong>Total accommodation</strong></p>
          </td>
          <td width="50%">
            <p>(A) Boys hostel 208 rooms</p>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <p>&nbsp;</p>
          </td>
          <td width="50%">
            <p>(B) Girls hostel 220 rooms</p>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <p><strong>(A) At Girls hostel</strong></p>
          </td>
          <td width="50%">
            <p>1 Senior UG per room<br />2 Junior UG per room</p>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <p><strong>(B) At Boys hostel</strong></p>
          </td>
          <td width="50%">
            <p>2 Senior UG per room<br />3 Junior UG per room</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
          <td>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <p><strong>No. of Students (Capacity)</strong></p>
          </td>
          <td width="50%">
            <p>(A) Girls hostel: 302, (B) Boys hostel: 524</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
          <td>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Distance from Hospital</strong></p>
          </td>
          <td>
            <p>About 0.5 km</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
          <td>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>If there is Mess for students</strong></p>
          </td>
          <td>
            <p>(A) At Girls hostel Students' Co-op. mess : 1</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
          <td>
            <p>(B) At Boys hostel: Students' Co-op. mess : 1</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
          <td>
            <p>Contractor system mess : 1</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
          <td>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Supervision arrangements</strong></p>
          </td>
          <td>
            <p>
              Supervision by :<br />(1) Dean<br />(2) Dy. Dean (V.G.)<br />(3)
              Rector<br />(4) Warden (for both hostels)<br />(5) Lady
              Superintendent (Residential)<br />(6) Students' Co-op. Mess
              Committee
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
          <td>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Recreation facilities</strong></p>
          </td>
          <td>
            <p>
              (1) T.V. cum Table Tennis hall<br />(2) Reading room in both
              hostels<br />(3) Recreation hall
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
          <td>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Sports and others</strong></p>
          </td>
          <td>
            <p>
              (1) Volly-ball Ground (at Gents' hostel)<br />(2) Basket-ball
              Ground (under process)<br />(3) Cricket Ground, Football Ground<br />(4)
              Badminton hall with wooden flooring<br />(5) Gym hall<br />(6)
              Facility for Single &amp; Double Bar exercise
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
          <td>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Administrative control</strong></p>
          </td>
          <td>
            <p>
              (1) Dean<br />(2) Dy. Dean (V.G.)<br />(3) Rector<br />(4) Hostel
              Managing Committee
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
