@media (min-width: 992px) {
  .card {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    width: 80%;
  }
  img {
    max-height: 230px !important;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .card {
    width: 80%;
  }
  .img {
    float: none !important;
    text-align: center;
  }
  .univcontent {
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 574px) {
  .card {
    width: 100%;
    margin-top: 30px !important;
  }
  .img {
    float: none !important;
    text-align: center;
  }
  .univcontent {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .card {
    width: 100%;
    margin-top: 30px !important;
  }
  .img {
    float: none !important;
    text-align: center;
  }
  .univcontent {
    text-align: center;
  }
}

.card {
  margin: 50px auto;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  animation: slide 0.3s linear;
}
.card-header {
  color: white;
  background-color: #007fff;
}
a {
  color: #007fff !important;
}
img {
  max-height: 180px;
}
@keyframes slide {
  0% {
    transform: translate(-400px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
