<div class="card">
  <div class="card-header">
    <b>University Details</b>
  </div>
  <div class="card-body">
    <div class="img" style="float: left; padding-right: 20px">
      <figure class="figure">
        <img
          src="../assets/images/muhs logo.png"
          class="figure-img img-fluid"
          height="180px"
          width="180px"
        />
      </figure>
    </div>
    <div class="univcontent">
      <p>
        <b>Name of University of Affiliation:</b> Maharashtra University of
        Health Sciences, Nashik Maharashtra
      </p>
      <p><b>Founder: </b>Government of Maharashtra</p>
      <p><b>Founded:</b> 3rd June 1998</p>
      <p>
        <b>Address:</b> Vani-Dindori road, Mhasrul, Nashik, Maharashtra 422003
      </p>
      <p><b>Phone:</b>0253-253 9114</p>
      <div class="text-center">
        <button class="btn">
          <a
            href="https://www.muhs.ac.in/"
            style="text-decoration: none; color: white"
            >Visit University</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
