<!-- //main -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleCaptions"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/home/hero/Artboard – 3.png"
        class="d-block w-100 slide"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/home/hero/Artboard – 1.png"
        class="d-block w-100 slide"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/home/hero/Artboard – 2.png"
        class="d-block w-100 slide"
        alt="..."
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="prev"
  >
    <span
      ><i
        class="fa fa-arrow-circle-left"
        aria-hidden="true"
        style="color: #ff8811; font-size: 40px"
      ></i
    ></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="next"
  >
    <span
      ><i
        class="fa fa-arrow-circle-right"
        aria-hidden="true"
        style="color: #ff8811; font-size: 40px"
      ></i
    ></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- ------------------------------  BANNER--------------------------------------------------->

<div class="banner mb-5">
  <div class="banner_box mt-4">
    <h3>We have something to be proud of</h3>
    <span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <p class="h4" style="display: inline; margin-left: 7px">61234</p>
      <p class="h5">Happy Patients</p>
    </span>
    <span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <p class="h4" style="display: inline; margin-left: 7px">48</p>
      <p class="h5">Years of experience</p>
    </span>
  </div>

  <div class="banner_box mt-4" style="position: relative">
    <h3>Useful links</h3>
    <!-- <span *ngFor="let item of data;let i=index">
			<i *ngIf="i<3" class="fa fa-chevron-right" aria-hidden="true"></i>
			<a *ngIf="i<3" href={{item.link}}>{{item.name}}</a>
		</span> -->

    <ul
      *ngFor="let item of data; let i = index"
      class="fa-ul list-unstyled"
      style="line-height: 1; margin-left: 20px; margin-bottom: 10px"
    >
      <li style="line-height: normal">
        <span class="fa-li">
          <i *ngIf="i < 3" class="fa fa-chevron-right"></i
        ></span>
        <!-- <h6>{{i+1}}</h6> -->
        <a *ngIf="i < 3" href="{{ item.link }}">{{ item.name }}</a>
      </li>
    </ul>

    <button
      class="banner_button primary-btn"
      data-toggle="modal"
      data-target="#ULModal"
    >
      See more
    </button>
  </div>

  <div class="banner_box mt-4" style="position: relative">
    <h3>News and events</h3>
    <!-- <span *ngFor="let item of data2;let i=index"><i *ngIf="i<2" class="fa fa-chevron-right" aria-hidden="true"></i>
			<a *ngIf="i<2" href={{item.link}}>{{item.name}}</a></span> -->

    <ul
      *ngFor="let item of data2; let i = index"
      class="fa-ul list-unstyled"
      style="line-height: 1; margin-left: 20px; margin-bottom: 10px"
    >
      <li style="line-height: normal">
        <span class="fa-li">
          <i *ngIf="i < 2" class="fa fa-chevron-right"></i>
        </span>
        <!-- <h6>{{i+1}}</h6> -->
        <a *ngIf="i < 2" href="{{ item.link }}">{{ item.name }}</a>
      </li>
    </ul>
    <button
      class="banner_button primary-btn"
      data-toggle="modal"
      data-target="#UNEModal"
    >
      See more
    </button>
  </div>

  <div class="banner_box mt-4" style="position: relative">
    <h3>Research publications</h3>
    <ul
      class="fa-ul list-unstyled"
      style="line-height: 1; margin-left: 20px; margin-bottom: 10px"
    >
      <li style="line-height: normal; margin-bottom: 10px">
        <span class="fa-li"
          ><i class="fa fa-chevron-right" aria-hidden="true"></i
        ></span>
        <a href="#">Department of Pharmacology</a>
      </li>
      <li style="line-height: normal; margin-bottom: 10px">
        <span class="fa-li"
          ><i class="fa fa-chevron-right" aria-hidden="true"></i
        ></span>
        <a href="#">Department of Pediatric Surgery</a>
      </li>
      <li style="line-height: normal; margin-bottom: 10px">
        <span class="fa-li"
          ><i class="fa fa-chevron-right" aria-hidden="true"></i
        ></span>
        <a href="#">Department of Surgery</a>
      </li>
    </ul>
    <button
      class="banner_button primary-btn"
      routerLink="/academics/research-publications"
    >
      See more
    </button>
  </div>
</div>

<!------------------------------------------------------BANNER MODALS -------------------------------------------->
<!----------------------------------------------------- USEFUL LINKS --------------------------------------------->
<div
  class="modal fade"
  id="ULModal"
  tabindex="-1"
  aria-labelledby="ULModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ULModalLabel">Useful Links</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul *ngFor="let item of data; let i = index" class="fa-ul">
          <!-- <div *ngIf="i>=3"> -->
          <li>
            <span class="fa-li"
              ><i *ngIf="i >= 3" class="fa fa-chevron-right"></i
            ></span>
            <!-- <h6>{{i+1}}</h6> -->

            <a *ngIf="i >= 3" href="{{ item.link }}">{{ item.name }}</a>

            <hr *ngIf="i >= 3" />
          </li>

          <!-- </div> -->
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------- UPCOMING NEWS AND EVENTS------------------------------- -->
<div
  class="modal fade"
  id="UNEModal"
  tabindex="-1"
  aria-labelledby="UNEModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="UNEModalLabel">Upcoming news and events</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul *ngFor="let item of data2; let i = index" class="fa-ul">
          <!-- <div *ngIf="i>=3"> -->
          <li>
            <span class="fa-li"
              ><i *ngIf="i >= 2" class="fa fa-chevron-right"></i
            ></span>
            <!-- <h6>{{i+1}}</h6> -->

            <a *ngIf="i >= 2" href="{{ item.link }}">{{ item.name }}</a>

            <hr *ngIf="i >= 2" />
          </li>

          <!-- </div> -->
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------------------------------BANNER MODAL END------------------------------------------ -->
<!-- --------------------------------------------------  BANNER ENDS ------------------------------------------ -->

<!-- -------------------------------------------------- STATISTICS BANNER------------------------------------------ -->
<div class="main_stat_box">
  <div class="stats_box stats_box1 py-4 my-5" id="stats">
    <div class="stats img_animation">
      <i class="fa fa-bed" aria-hidden="true"></i>
      <div class="Count">1296</div>
      <p><b>Number of beds</b></p>
    </div>
    <div class="stats img_animation">
      <i class="fa fa-users" aria-hidden="true"></i>
      <div class="Count">21</div>
      <p><b>Departments</b></p>
    </div>
    <div class="stats img_animation">
      <i class="fa fa-user-md" aria-hidden="true"></i>
      <div class="Count">266</div>
      <p><b>Teaching staff</b></p>
    </div>
    <div class="stats img_animation">
      <i class="fa fa-user" aria-hidden="true"></i>
      <div class="Count">252</div>
      <p><b>Non-teaching staff</b></p>
    </div>
    <div class="stats img_animation">
      <i class="fa fa-id-badge" aria-hidden="true"></i>
      <div class="Count">411</div>
      <p><b>Number of college seats</b></p>
    </div>
  </div>
</div>
<!-- -------------------------------------------------------STATISTICS BANNER ENDS------------------------------------------ -->

<!-- --------------------------------------------------OUR VISIONARIES----------------------------------------- -->
<div>
  <h2 class="decorated" style="margin-top: 6%"><span>OUR VISIONARIES</span></h2>
</div>
<div class="our_blog my-5">
  <div class="blog_box">
    <div class="col-xxl-7 order-md-2">
      <h3>Byramjee Jeejeebhoy</h3>
      <p>
        Sassoon General Hospitals is a large state-run hospital in Pune, India
        with 1296 beds. It is affiliated to the B. J. Medical College and a
        Nurses training School. Sassoon Hospital caters to 9,426,959 population
        of Pune District- a 2nd most populous district in the State of
        Maharashtra.
      </p>
      <button
        class="primary-btn blog_button"
        data-toggle="modal"
        data-target="#BJModal"
      >
        Read more
      </button>
    </div>
    <div class="col-lg-5 order-md-1">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle"
        src="assets/home/our_blog/BJ.png"
        alt=""
      />
    </div>
  </div>
  <div class="blog_box">
    <div class="col-xxl-7 order-md-2">
      <h3>Mahatma Gandhi</h3>
      <p>
        B J Medical College Has a Very Long Legacy. Mahatma Gandhiji Was
        Operated for Appendicectomy on 12th January 1924. On March 18, 1922
        Mahatma Gandhiji was sentenced to six years simple imprisonment for
        sedition by session Judge, Ahamdabad.
      </p>
      <button
        class="primary-btn blog_button"
        data-toggle="modal"
        data-target="#MGModal"
      >
        Read more
      </button>
    </div>
    <div class="col-lg-5 order-md-1">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle"
        src="assets/home/our_blog/Mahatma_Gandhi.png "
        alt=""
      />
    </div>
  </div>
</div>
<!-- ****************************    MODALS (BJ,MG,DS)   *********************************** -->
<!-- ******************************  1. BJ MODAL   ************************************  -->
<div
  class="modal fade"
  id="BJModal"
  tabindex="-1"
  aria-labelledby="BJModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="BJModalLabel">Byramjee Jeejeebhoy</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          The Jewish philanthropist David Sassoon from Mumbai made a generous
          donation to make the construction of the hospital possible in 1867.
          The hospital could originally accommodate 144 patients.
        </p>
        <img
          src="assets/about-us/history/oldpic.jpg"
          style="
            width: 80%;
            height: 50%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 15px;
          "
        />
        <p>
          In year 1946 on 23rd June, B. J. Medical College was founded to
          replace erstwhile B. J. Medical School, with Shri. B. G. Kher the head
          of the Bombay Government, laying the foundation stone. This was the
          fulfilment of the vision of a far sighted Parsi philanthropist
          Byramjee Jeejeebhoy, to have an institution in Poona for training of
          doctors and providing medical facilities on par with those in Bombay.
          His generosity and munificence made it possible for the B.J. Medical
          School to start functioning from 1871 on land donated by him, and when
          the school was upgraded to the college in 1946, quite filtergly the
          name was retained. The medical course of MBBS was affiliated to the
          University of Poona (Pune) in 1949.
        </p>
        <img
          src="assets/about-us/history/bjmc3.jpg"
          style="
            width: 80%;
            height: 50%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 15px;
          "
        />
        <p>
          Pune had already been blessed by the generous contribution of Sassoon-
          a Jewish merchant family in the form of the David Sassoon Hospital
          (Old Sassoon Building) built at a cost of Rs. 213,000 serving the poor
          and needy from 1867, and the Jacob Sassoon Hospital constructed by his
          nephew in 1905-06 to relieve the congestion on the David Sassoon
          Hospital. Both were magnificent buildings, architectural marvels and
          the clock tower of David Sassoon Hospital, a landmark in the city. The
          campus had already been blessed by the presence of two great
          personalities - Avtar Meher Baba was born in the old maternity ward in
          the hospital, and the father of the nation, Mahatma, Gandhi was
          operated upon for emergency appendectomy in 1924 by a British Surgeon
          Col. Murdoch with an Indian anaesthetist Dr. Datey in attendance.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- **************************************  MG MODAL *****************************************-->
<div
  class="modal fade"
  id="MGModal"
  tabindex="-1"
  aria-labelledby="MGModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="MGModalLabel">Mahatma Gandhi</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          The embodied symbol of Indian nation was immured behind the walls of
          the Yerawada Central Prison, Poona.
        </p>
        <img
          src="assets/home/our_blog/mg5.jpg"
          style="
            width: 80%;
            height: 50%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 15px;
          "
        />
        <p>
          The Jail Manual was applied to him rigorously and yet in prison
          Gandhiji was “as happy as a bird”.
        </p>
        <p>
          Twenty-two months of prison life had an adverse effect on Gandhiji’s
          health. On the night of January 12,1924, amidst a violent
          thunderstorm, state prisoner Gandhiji was operated upon in Sassoon
          Hospital, Poona, by Colonel Maddock for acute appendicitis.
        </p>
        <img
          src="assets/home/our_blog/mg1.jpg"
          style="
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 15px;
          "
        />
        <p>
          The electric light fused during the operation. The appendectomy had to
          be finished by the light of hurricane lamp. Ganhiji thanked his
          surgeon profusely and they became warm friends.
        </p>
        <p>The prisoner under guard began picking up unexpectedly fast.</p>
        <img
          src="assets/home/our_blog/mg2.jpg"
          style="
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 15px;
          "
        />
        <p>
          On February 4, the Government remitted the unexpired portion of
          Gandhijis sentence and released him unconditionally. His reaction was
          “my release has brought me no relief”.
        </p>
        <img
          src="assets/home/our_blog/mg3.jpg"
          style="
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 15px;
          "
        />
        <p>
          On August 4, 1933,Gandhiji was sentenced to one year rigorous
          imprisonment for disobeying the restraint order requiring him to
          reside within the limits of Poona city.
        </p>
        <img
          src="assets/home/our_blog/mg4.jpg"
          style="
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 15px;
          "
        />
        <p>
          On being refused facilities for doing the Harijan work from inside the
          Yerawada Prison, he commenced a fast “unto death” on August 18th.On
          August 21st, the prisoner was once again removed to the Sassoon
          Hospital. Gandhiji said his prayers & broke his fast with a glass of
          orange juice.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------OUR VISIONARIES ENDS------------------------------------------------------------ -->
<!-- -------------------------------------------------------------WHY CHOOSE US--------------------------------------------------------- -->
<div>
  <h2 class="decorated" style="margin-top: 6%">
    <span>OUR CONTRIBUTION</span>
  </h2>
</div>
<div class="about_us mt-5">
  <div class="card about-box">
    <div class="card-header border-0 p-0">
      <img
        class="card-img-bottom"
        src="assets/home/hero/sasoon-hospital.jpg"
        alt="assets/image"
        style="height: 200px"
      />
    </div>
    <div class="card-body border border-top-0" style="padding: 30px 30px">
      <div class="mb-3">
        <h3 class="blog-title card-title m-0">Journals</h3>
      </div>
      <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
      <button class="primary-btn" routerLink="/resources/journals">
        Read more
      </button>
    </div>
  </div>

  <div class="card about-box">
    <div class="card-header border-0 p-0">
      <img
        class="card-img-bottom"
        src="assets/home/hero/sasoon-hospital-2.jpg"
        alt="assets/image"
        style="height: 200px"
      />
    </div>
    <div class="card-body border border-top-0" style="padding: 30px 30px">
      <div class="mb-3">
        <h3 class="blog-title card-title m-0">Activities</h3>
      </div>
      <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
      <button class="primary-btn" routerLink="/academics/activities">
        Read more
      </button>
    </div>
  </div>

  <div class="card about-box">
    <div class="card-header border-0 p-0">
      <img
        class="card-img-bottom"
        src="assets/home/hero/sasoon-hospital-beds.jpg"
        alt="assets/image"
        style="height: 200px"
      />
    </div>
    <div class="card-body border border-top-0" style="padding: 30px 30px">
      <div class="mb-3">
        <h3 class="blog-title card-title m-0">Hospital</h3>
      </div>
      <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>

      <button class="primary-btn" routerLink="/hospital">Read more</button>
    </div>
  </div>
</div>
<!-- -------------------------------------------------------------WHY CHOOSE US ENDS--------------------------------------------------------- -->
<!-- --------------------------------------------------------BLOOD DONATION FORM-------------------------------------------------------- -->
<div class="blood_donation" style="margin-top: 6%">
  <section class="loan_w3ls" id="form">
    <div class="container" style="padding: 30px 30px">
      <div class="row">
        <div class="col-lg-4 my-3">
          <div class="title-section">
            <h2 style="color: white">
              Be a <span style="color: rgb(33, 150, 243)">hero</span>, roll up
              your sleeve to save a
              <span style="color: rgb(33, 150, 243)">life!</span>
            </h2>
            <p style="color: white">
              <strong>Register here to donate blood</strong>
            </p>
          </div>
        </div>
        <div class="col-lg-8 my-4">
          <form action="#" method="post">
            <div class="row loan-form-w3ls">
              <div class="col-lg-4">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="Name"
                    placeholder="Name"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    placeholder="Email"
                    required=""
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="number"
                    placeholder="Phone Number"
                    required=""
                  />
                </div>
                <div class="form-group date-plu">
                  <input type="date" name="date" id="dateofbirth" required="" />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <select class="form-control" required="">
                    <option value="">Hourly Preferences</option>
                    <option value="1">Morning</option>
                    <option value="2">Afternoon</option>
                    <option value="3">Evening</option>
                  </select>
                </div>
                <button type="submit" class="btn btn_apt">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- --------------------------------------------------------BLOOD DONATION FORM ENDS-------------------------------------------------------- -->
<!-- --------------------------------------------------------------SERVICES----------------------------------------------------------------->
<section class="services-w3ls pt-5" id="services" style="margin-top: 3.6%">
  <div class="service_box py-xl-5 py-lg-3 px-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex services-box mt-5">
          <div class="services-icon">
            <i class="fa fa-trophy" aria-hidden="true"></i>
          </div>

          <div class="service-content">
            <h3>Awards and achievements</h3>
            <p>200+ awards and achievements within multiple medical fields</p>
            <button
              class="primary-btn"
              routerLink="/academics/awards-and-achievements"
            >
              Read more
            </button>
          </div>
        </div>

        <div class="d-flex services-box mt-5">
          <div class="services-icon">
            <i class="fa fa-history" aria-hidden="true"></i>
          </div>
          <div class="service-content">
            <h3>History</h3>
            <p>BJMC and Sassoon Hospital has a long history since 1867</p>
            <button class="primary-btn" routerLink="/about-us/history">
              Read more
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-lg-0">
        <div class="d-flex services-box mt-5">
          <div class="services-icon">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          </div>
          <div class="service-content">
            <h3>University</h3>
            <p>
              University is affiliated to Maharashtra University of Health
              Sciences, Nashik
            </p>
            <button class="primary-btn" routerLink="/about-us/university">
              Read more
            </button>
          </div>
        </div>

        <div class="d-flex services-box my-5">
          <div class="services-icon">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
          </div>
          <div class="service-content">
            <h3>Results</h3>
            <p>Results of UG and PG students across all departments</p>
            <button class="primary-btn" routerLink="/students-corner/results">
              Read more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- --------------------------------------------------------SERVICES ENDS-------------------------------------------------------- -->
<!-- move top icon -->
<a class="fa fa-arrow-circle-up move-up text-center" id="toTop"></a>
<!-- //move top icon -->

<!-- --------------------------------------------------------------ORIGIIAEFNADF SERVICES----------------------------------------------------------------->
<!-- <section class="services-w3ls pt-5" id="services" style="margin-top: 3.6%;">
	<div class="service_box py-xl-5 py-lg-3 px-5">
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex services-box">
					<span class="fa fa-trophy" aria-hidden="true"></span>
					<div class="service-content ml-4">
						<h3>Awards and Achievements</h3>
						<p>Quisque sagittis lacus eu lorem sodalesd inagittis lacg enean adipiscing.</p>
						<button class="primary-btn" routerLink="/academics/awards-and-achievements">Read more</button>
					</div>
				</div>
				<div class="d-flex services-box mt-5">
					<span class="fa fa-book" aria-hidden="true"></span>
					<div class="service-content ml-4">
						<h3>Journals</h3>
						<p>Quisque sagittis lacus eu lorem sodalesd inagittis lacg enean adipiscing.</p>
						<button class="primary-btn" routerLink="/resources/journals">Read more</button>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-5">
				<div class="d-flex services-box">
					<span class="fa fa-graduation-cap" aria-hidden="true"></span>
					<div class="service-content ">
						<h3>University</h3>
						<p>Quisque sagittis lacus eu lorem sodalesd inagittis lacg enean adipiscing.gjghbbb vhghgtg hghgghv</p>
						<button class="primary-btn" routerLink="/about-us/university">Read more</button>
					</div>
				</div>
				<div class="d-flex services-box mt-5">
					<span class="fa fa-line-chart" aria-hidden="true"></span>
					<div class="service-content ">
						<h3>Results</h3>
						<p>Quisque sagittis lacus eu lorem sodalesd inagittis lacg enean adipiscing.</p>
						<button class="primary-btn" routerLink="/students-corner/results">Read more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- --------------------------------------------------------SERVICES ENDS-------------------------------------------------------- -->
