/* -------------------------------- CAROUSEL .......................................................... */

.slide {
  height: 350px;
}
/*/////////////////////////////// CAROUSEL END /////////////////////////////////////////////// */

/* -------------------------------- BANNER  .......................................................... */

.banner {
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  margin-left: 15px;
  margin-right: 15px;
}

.banner_box {
  height: 280px;
  /* width: 300px;  */
  /* height: 23%; */
  width: 22.7%;
  /* width: auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px;
  background-color: white;
  color: #2a2a2a;
  /* border: 2px solid black; */
}

.banner_box h3 {
  margin-bottom: 25px;
}

.banner_box span {
  margin-bottom: 10px;
}
.banner_box i {
  font-size: smaller;
}

.banner_box:hover {
  background-color: #007fff;
  color: white !important;
}

.banner_box:hover h3 {
  color: #fff;
}

.banner_box:hover p {
  color: #fff;
}

.banner_box:hover .primary-btn {
  background-color: #007fff;
  color: white;
  border: 2px solid white;
}

.banner .primary-btn:hover {
  color: #007fff;
  background-color: white;
}

.banner_button {
  position: absolute;
  bottom: 20px;
}

.fa-chevron-right {
  color: #ff8811;
  /* margin-right: 5px; */
}

.banner_box:hover .fa-chevron-right {
  color: white;
}

.banner_box:hover a {
  color: white;
}

.fa-arrow-circle-right {
  color: #ff8811;
}
/* ////////////////////////////// BANNER  END /////////////////////////////////////////// */

/* ----------------------------STATISTICS--------------------------------------------- */

.main_stat_box {
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  /* border: 2px solid red; */
}

.stats_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  /* width: 98.3%; */
  width: 100%;
  /* margin-left: 15px;
  margin-right: 15px; */
  flex-wrap: wrap;
  /* border: 2px solid black; */
}

/* section#counter-stats {
  display: flex;
  justify-content: center;
  margin-top: 100px;
} */

.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.stats .fa {
  /* color: #008080; */
  color: #ff8811;
  font-size: 60px;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.img_animation i {
  animation: zoominoutsinglefeatured 1.5s infinite;
}

/* //////////////////////////////////  STATISTICS ENDS  /////////////////////////////////////// */

/* -------------------------------- OUR BLOG .......................................................... */

.decorated {
  overflow: hidden;
  text-align: center;
}
.decorated > span {
  position: relative;
  display: inline-block;
}
.decorated > span::before,
.decorated > span::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid #ff8811;
  width: 100vw;
  margin: 20px 20px;
}
.decorated > span::before {
  right: 100%;
}
.decorated > span::after {
  left: 100%;
}

.our_blog {
  /* width: 95.8%;
  margin: auto; */
  /* width: 98.3%; */
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  margin-left: 15px;
  margin-right: 15px;
}

.blog_box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 631px; */
  width: 48.4%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  /* padding: 30px 30px; */
  /* border: 2px 0,127,255; */
  background-color: white;
  /* border: 2px solid purple; */
}

.blog_box img {
  width: 250px;
  height: 270px;
}

.blog_box h3 {
  margin-bottom: 30px;
}

.primary-btn:hover a {
  color: white;
}

.blog_button {
  /* background-color: white; */
  /* position: absolute; */
  /* left: 5px; */
  /* bottom: 55px;
  right: 15px; */
}
/* ///////////////////////////// OUR BLOG ///////////////////////////////////////////////////// */

/* ----------------------------------ABOUT US------------------------------------ */
.about_us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 2px solid purple; */
  /* width: 95.8%;
  margin: auto; */
  /* width: 98.4%; */
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.about-box {
  width: 30%;
}

/* ///////////////////////////////////////  ABOUT US ENNDS //////////////////////////////////// */

/* .........................SERVICES........................................... */
.service_box {
  background-color: white;
  /* border: 2px solid blue; */
  /* width: 98.3%; */
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.services-box .fa {
  /* border-radius: 4px; */
  /* width: 1.28571429em; */
  /* border: 2px solid red; */
  color: #ff8811;
  /* background-color: #007fff; */
  font-size: 45px;
  /* line-height: 60px; */
  text-align: center;
  /* margin-right: 40px; */
}
.services-box .service-content {
  margin-left: 22px;
}

/* //////////////////////////////////////  SERVICES ENDS /////////////////////////////////////////*/

/* Reset Code */

body a,
body button {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

body a:hover,
body button:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* ------------------------------------------- move top icon -------------------------------------- */
/* a.move-top {
  width: 34px;
  height: 34px;
  background: url(/assets/home/images/move-top.png) no-repeat;
  display: inline-block;
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 0;
  scroll-behavior: smooth;
} */

a.move-up {
  /* width: 34px;
  height: 34px; */
  /* background: url(/assets/home/images/move-top.png) no-repeat; */
  font-size: 50px;
  color: #ff8811;
  display: inline-block;
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 0;
  scroll-behavior: smooth;
}
/* //   ------------------------------------------- move top icon --------------------------------*/
/* //   ------------------------------------------- top header -----------------------------------*/

/* doctor form */

.blood_donation {
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  /* border: 2px solid red; */
}

.loan_w3ls {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/home/blood_donation/BD2.jpg) center no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  font-family: "Roboto", sans-serif;
  width: 100%;
  /* border: 2px solid blue; */
}

.loan-form-w3ls input.form-control,
select.form-control {
  background: #fff;
  border: none;
  color: #000;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 10px 10px;
  height: 40px;
  border-radius: 5px;
}

select.form-control {
  height: 40px !important;
  /* border-radius: 5px; */
}

.loan-form-w3ls .form-group label {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  text-align: left;
  font-weight: 500;
}

button.btn_apt {
  background: #ff8811;
  color: #fff;
  padding: 10px 10px;
  border: none;
  outline: none;
  height: 40px;
  letter-spacing: 1px;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

button.btn_apt:hover {
  letter-spacing: 2px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* ---------------------------------------------date-------------------------------------------  */
[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
  padding-right: 0 !important;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.date-plu input {
  border: none;
  color: #000;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 10px 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.doctor-blood {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 575.98px) {
  .doctor-blood .blood-form {
    /* width: 91.5%; */
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}
/* //-------------------------------------------------date-------------------------------------------  */
/* //-------------------------------------------------doctor form------------------------------------- */

/* ------------------------------------------------services------------------------------------------- */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .slide {
    height: 300px;
  }

  .banner {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    /* justify-content: space-between; */
    align-items: center;
    /* padding-left: 15px;
    padding-right: 15px; */
  }

  .banner .banner_box {
    /* background-color: yellow; */
    width: 100%;
    /* margin-left: 15px;
    margin-right: 15px; */
  }

  .our_blog {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;

    /* width: 91.5%; */
  }

  .our_blog .blog_box {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    text-align: center;
  }

  .our_blog .blog_box .blog_button {
    /* background-color: white; */
    margin-bottom: 20px;
  }

  .our_blog .blog_box p {
    /* background-color: white; */
    margin-left: 20px;
    margin-right: 20px;
  }

  .blog_box img {
    /* display: inline-block; */
    /* text-align: center !important; */
    margin: 20px 20px !important;
  }

  .about_us {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 91.5%; */
  }

  .about_us .about-box {
    width: 100%;
    margin-bottom: 25px;
  }

  .main_stat_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main_stat_box .stats_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main_stat_box .stats_box p {
    margin-bottom: 40px;
  }

  .blood_donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blood_donation .loan_w3ls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .service_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .service_box .services-box {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
  }
  .services-box .service-content {
    /* border: 2px solid red;
    margin: auto; */
    text-align: center;
    margin-top: 3px;
  }
}
/* Extra small devices (portrait phones, less than 576px)  */

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .slide {
    height: 300px;
  }

  .banner {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    /* justify-content: space-between; */
    align-items: center;
    /* padding-left: 15px;
    padding-right: 15px; */
  }

  .banner .banner_box {
    /* background-color: yellow; */
    width: 100%;
    /* margin-left: 15px;
    margin-right: 15px; */
  }

  .our_blog {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;

    /* width: 91.5%; */
  }

  .our_blog .blog_box {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    text-align: center;
  }

  .our_blog .blog_box .blog_button {
    /* background-color: white; */
    margin-bottom: 20px;
  }

  .our_blog .blog_box p {
    /* background-color: white; */
    margin-left: 50px;
    margin-right: 50px;
  }

  .blog_box img {
    /* display: inline-block; */
    /* text-align: center !important; */
    margin: 20px 20px !important;
  }

  .about_us {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 91.5%; */
  }

  .about_us .about-box {
    width: 100%;
    margin-bottom: 25px;
  }

  .main_stat_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main_stat_box .stats_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main_stat_box .stats_box p {
    margin-bottom: 40px;
  }

  .blood_donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blood_donation .loan_w3ls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .service_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .service_box .services-box {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
  }
  .services-box .service-content {
    /* border: 2px solid red;
    margin: auto; */
    text-align: center;
    margin-top: 3px;
  }

  /* .service_box .service-content {
    right: 0;
  } */
}
/* Small devices (landscape phones, less than 768px)  */

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .slide {
    height: 300px;
  }

  .banner {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    /* justify-content: space-between; */
    align-items: center;
    /* padding-left: 15px;
    padding-right: 15px; */
  }

  .banner .banner_box {
    /* background-color: yellow; */
    width: 48%;
    /* margin-left: 15px;
    margin-right: 15px; */
  }

  .our_blog {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;

    /* width: 91.5%; */
  }

  .our_blog .blog_box {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    text-align: center;
  }

  .our_blog .blog_box .blog_button {
    /* background-color: white; */
    margin-bottom: 20px;
  }

  .our_blog .blog_box p {
    /* background-color: white; */
    margin-left: 40px;
    margin-right: 40px;
  }

  .blog_box img {
    /* display: inline-block; */
    /* text-align: center !important; */
    margin: 10px 10px !important;
  }

  .about_us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 91.5%; */
  }

  .about_us .about-box {
    width: 32.3%;
    margin-bottom: 25px;
  }

  .main_stat_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main_stat_box .stats_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .main_stat_box .stats_box p {
    margin-bottom: 40px;
  }

  .blood_donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blood_donation .loan_w3ls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .service_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .service_box .services-box {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
  }
  .services-box .service-content {
    /* border: 2px solid red;
    margin: auto; */
    text-align: center;
    margin-top: 3px;
  }
}
/* Medium devices (tablets, less than 992px) */

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .slide {
    height: 300px;
  }

  .banner {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    /* justify-content: space-between; */
    align-items: center;
    /* padding-left: 15px;
    padding-right: 15px; */
  }

  .banner .banner_box {
    /* background-color: yellow; */
    width: 48%;
    /* margin-left: 15px;
    margin-right: 15px; */
  }

  .our_blog {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    align-items: center;
    /* border: 2px solid blue; */

    /* width: 91.5%; */
  }

  .our_blog .blog_box {
    width: 48%;
    height: 100% !important;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    text-align: center;
    /* margin-top: 0 !important;
    margin-bottom: 0 !important; */
  }

  .our_blog .blog_box .blog_button {
    /* background-color: white; */
    margin-bottom: 20px;
  }

  .our_blog .blog_box p {
    /* background-color: white; */
    margin-left: 40px;
    margin-right: 40px;
  }

  .our_blog .blog_box p {
    /* background-color: white; */
    margin-left: 40px;
    margin-right: 40px;
  }

  .blog_box img {
    /* display: inline-block; */
    /* text-align: center !important; */
    margin: 10px 10px !important;
  }

  .about_us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 91.5%; */
  }

  .about_us .about-box {
    width: 32.3%;
    margin-bottom: 25px;
  }

  .main_stat_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main_stat_box .stats_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .main_stat_box .stats_box p {
    margin-bottom: 40px;
  }

  .blood_donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blood_donation .loan_w3ls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .service_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .services-box .service-content {
    margin-left: 22px;
  }
}
/* Large devices (desktops, less than 1200px) */

/* Larger devices (desktops, less than 1440px) */

/* Larger devices (desktops, less than 1440px) */

/* footer newletter */

@media (max-width: 1080px) {
  .loan-form-w3ls .form-group label {
    font-size: 14px;
  }
}

.text-decoration-none {
  color: #2a2a2a;
}
