<div class="card">
  <div class="card-header">
    <b>Chancellor</b>
  </div>
  <div class="card-body">
    <div class="img" style="float: left; padding-right: 20px">
      <figure class="figure">
        <img
          src="../assets/images/governor.jpg"
          class="figure-img img-fluid img-thumbnail"
          height="180px"
          width="180px"
        />
      </figure>
    </div>
    <div class="univcontent">
      <p>
        <b>
          His Excellency, Governor of Maharashtra Hon’ble Shri Chennamaneni
          Vidyasagar Rao</b
        >
      </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <b>Pro-Chancellor</b>
  </div>
  <div class="card-body">
    <div class="img" style="float: left; padding-right: 20px">
      <figure class="figure">
        <img
          src="../assets/images/pro-chancellor.jpg"
          class="figure-img img-fluid img-thumbnail"
          height="180px"
          width="180px"
        />
      </figure>
    </div>
    <div class="univcontent">
      <p>
        <b> Minister of Medical Education, Hon’ble Shri. Girish Mahajan</b>
      </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <b>Vice-Chancellor</b>
  </div>
  <div class="card-body">
    <div class="img" style="float: left; padding-right: 20px">
      <figure class="figure">
        <img
          src="../assets/images/vice-chancellor.jpg"
          class="figure-img img-fluid img-thumbnail"
          height="180px"
          width="180px"
        />
      </figure>
    </div>
    <div class="univcontent">
      <p><b> Prof. Dr. Deelip Mhaisekar</b></p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <b>Pro Vice-Chancellor</b>
  </div>
  <div class="card-body">
    <div class="img" style="float: left; padding-right: 20px">
      <figure class="figure">
        <img
          src="../assets/images/pro-vice-chancellor.jpg"
          class="figure-img img-fluid img-thumbnail"
          height="180px"
          width="180px"
        />
      </figure>
    </div>
    <div class="univcontent">
      <p><b> Prof. Dr. Mohan Khamgaonkar</b></p>
    </div>
  </div>
</div>
