<div *ngIf="!data" class="container">
  <h2>loading</h2>
</div>

<div *ngIf="data" class="container my-3 py-5 pr-3 tryscroll">
  <div class="upperdiv">
    <div class="page-title">
      <h1>DEPARTMENTS &amp; CENTERS</h1>
    </div>

    <hr />

    <div class="row py-5 text-center">
      <div class="col-md-4 col-sm-6 py-2">
        <div class="col-12 btn-dept py-3">
          <a href="./departments#pre-clinical">
            <span>
              <h1>Pre-Clinical Department</h1>
            </span>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 py-2">
        <div class="col-12 btn-dept py-3">
          <a href="./departments#parac">
            <span class="btn-text"> Para-Clinical Department </span>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 py-2">
        <div class="col-12 btn-dept py-3">
          <a href="./departments#medis">
            <span class="btn-text"> Medical Specialties </span>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 py-2">
        <div class="col-12 btn-dept py-3">
          <a href="./departments#mediss">
            <span class="btn-text"> Medical Super Specialties </span>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 py-2">
        <div class="col-12 btn-dept py-3">
          <a href="./departments#surs">
            <span class="btn-text"> Surgical Specialitie </span>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 py-2">
        <div class="col-12 btn-dept py-3">
          <a href="./departments#surss">
            <span class="btn-text"> Surgical Super Specialties </span>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 py-2">
        <div class="col-12 btn-dept py-3">
          <a href="./departments#alls">
            <span class="btn-text"> Allied Services </span>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 py-2">
        <div class="col-12 btn-dept py-3">
          <a href="./departments#hivai">
            <span class="btn-text"> HIV AIDS </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <br />

  <div class="card lowerdiv">
    <div class="card-body">
      <div id="pre-clinical" class="col-box">
        <h2>Pre-Clinical Departments</h2>

        <div class="row my-5 text-center">
          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[1].link }}" target="_blank">
                  <span class="btn-text"> Anatomy </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[21].link }}" target="_blank">
                  <span class="btn-text"> Physiology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[2].link }}" target="_blank">
                  <span class="btn-text"> Biochemistry </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="parac" class="col-box">
        <h2>Para-Clinical Departments</h2>

        <div class="row my-5 text-center">
          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[18].link }}" target="_blank">
                  <span class="btn-text"> Pathology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[13].link }}" target="_blank">
                  <span class="btn-text"> Microbioloy </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[28].link }}" target="_blank">
                  <span class="btn-text"> Pharmacology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[8].link }}" target="_blank">
                  <span class="btn-text"> Community Medicine </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[11].link }}" target="_blank">
                  <span class="btn-text"> Forensic Medicine </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="medis" class="col-box">
        <h2 class="small">Medical Specialities</h2>

        <div class="row my-5 text-center">
          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[25].link }}" target="_blank">
                  <span class="btn-text"> Skin & V. D. </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[19].link }}" target="_blank">
                  <span class="btn-text"> Pediatrics </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[24].link }}" target="_blank">
                  <span class="btn-text"> Radiology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[23].link }}" target="_blank">
                  <span class="btn-text"> Psychiatry </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[0].link }}" target="_blank">
                  <span class="btn-text"> Anesthesiology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[12].link }}" target="_blank">
                  <span class="btn-text"> General Medicine </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[5].link }}" target="_blank">
                  <span class="btn-text">
                    Tuberculosis and Chest Diseases
                  </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="mediss" class="col-box">
        <h2 class="small">Medical Super Specialties</h2>

        <div class="row my-5 text-center">
          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments">
                  <span class="btn-text"> Cardiology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments">
                  <span class="btn-text"> Neurology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments">
                  <span class="btn-text"> Nephrology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="surs" class="col-box">
        <h2 class="small">Surgical Specialties</h2>

        <div class="row my-5 text-center">
          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[17].link }}" target="_blank">
                  <span class="btn-text"> Orthopedics </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[26].link }}" target="_blank">
                  <span class="btn-text"> General Surgery </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[16].link }}" target="_blank">
                  <span class="btn-text"> Ophthalmology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[9].link }}" target="_blank">
                  <span class="btn-text"> Otorhinolaryngology (ENT) </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[15].link }}" target="_blank">
                  <span class="btn-text"> Obstetrics & Gynecology </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="surss" class="col-box">
        <h2 class="small">Super Surgical Specialties</h2>

        <div class="row my-5 text-center">
          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[27].link }}" target="_blank">
                  <span class="btn-text"> Urosurgery </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[14].link }}" target="_blank">
                  <span class="btn-text"> Neuro-Surgery </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[22].link }}" target="_blank">
                  <span class="btn-text"> Plastic Surgery </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[20].link }}" target="_blank">
                  <span class="btn-text"> Pediatric Surgery </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[7].link }}" target="_blank">
                  <span class="btn-text">
                    Cardiovascular and Thoracic Surgery
                  </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="alls" class="col-box">
        <h2 class="small">Allied Services</h2>

        <div class="row my-5 text-center">
          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[6].link }}" target="_blank">
                  <span class="btn-text"> Dentistry </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments"
                  ><span class="btn-text"> Nursing </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[10].link }}" target="_blank">
                  <span class="btn-text"> Eye Bank </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[4].link }}" target="_blank">
                  <span class="btn-text"> Blood Bank </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments"
                  ><span class="btn-text"> Physiotherapy </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments"
                  ><span class="btn-text"> Disaster Management </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments"
                  ><span class="btn-text">
                    Body / Kidney / Organ donation
                  </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments"
                  ><span class="btn-text">
                    Institute of Nursing education
                  </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="{{ data[3].link }}" target="_blank">
                  <span class="btn-text"> Bio Medical Waste Management </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="hivai" class="col-box">
        <h2 class="small">HIV AIDS</h2>

        <div class="row my-5 text-center">
          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments">
                  <span class="btn-text"> ART </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 py-2">
            <div class="col-12">
              <div class="btn-anch py-3">
                <a href="/departments">
                  <span class="btn-text"> ICTC </span>
                  &nbsp;&nbsp;
                  <span class="badge badge-primary badge-pill"> PDF </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
