.btn-dept {
  background: transparent;
  box-shadow: 2px 2px 10px grey;
  height: 100%;
  transition: transform 1s;
}

.btn-dept:hover {
  background-color: #007fff;
  box-shadow: 0 0 10px #007fff;
  transform: scale(1.05);
}

.btn-dept:hover a {
  color: white;
}

a {
  text-decoration: none;
}

.lowerdiv {
  border: none;
}

.col-box {
  text-align: center;
  font-size: 25px;
}

.btn-anch {
  transition: transform 1s;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.btn-anch:hover {
  box-shadow: 0 0 10px #007fff;
  transform: scale(1.05);
}

.badge {
  background-color: #ff8811;
  position: absolute;
  top: 2px;
  left: 70%;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: white;
  background-color: #007fff;
  padding: 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.col-box {
  box-shadow: 0 0 10px grey;
  padding-top: 0;
  padding-bottom: 5px;
  margin-bottom: 50px;

  text-align: center;
  font-size: 25px;
}

.primary-btn {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  height: 40px;
  font-size: 14px;
  padding: 0px 20px 0px 20px;
  color: #007fff;
  border: 1px solid #007fff;
  border-radius: 20px;
  background-color: white;
}

.primary-btn:hover {
  background-color: #007fff;
  color: white;
}

.tryscroll {
  scroll-behavior: smooth;
}

@media screen and (max-width: 992px) {
  /* .btn-anch{
    box-shadow: 0 0 5px grey;
  } */
}
