<div id="content">
  <section class="title-block">
    <div class="page-title" style="text-align: center">
      <h1>DEPARTMENTS &amp; CENTERS</h1>
    </div>
    <nav class="anchor-block row-3">
      <ul class="btn-row-container">
        <li class="btn-anch">
          <a href="./departments#department"
            ><span class="ico-arrow down">Pre-Clinical Departments</span></a
          >
        </li>
        <li class="btn-anch">
          <a href="./departments#parac"
            ><span class="ico-arrow down">Para-Clinical Department</span></a
          >
        </li>
        <li class="btn-anch">
          <a href="./departments#medis"
            ><span class="ico-arrow down">Medical Specialties</span></a
          >
        </li>
        <li class="btn-anch">
          <a href="./departments#mediss"
            ><span class="ico-arrow down">Medical Super Specialties</span></a
          >
        </li>
        <li class="btn-anch">
          <a href="./departments#surs"
            ><span class="ico-arrow down"
              ><span class="small">Surgical Specialties</span></span
            ></a
          >
        </li>
        <li class="btn-anch">
          <a href="./departments#surss"
            ><span class="ico-arrow down">Surgical Super Specialties</span></a
          >
        </li>
        <li class="btn-anch">
          <a href="./departments#alls"
            ><span class="ico-arrow down">Allied Services</span></a
          >
        </li>
        <li class="btn-anch">
          <a href="./departments#hivai"
            ><span class="ico-arrow down">HIV AIDS</span></a
          >
        </li>
      </ul>
    </nav>
  </section>
</div>
<div class="content-block">
  <div id="department" class="l-row-cont">
    <div class="l-col-cont cont-ttl">
      <div class="cont-ttl-box"></div>
    </div>
    <div class="l-col-cont cont-body">
      <div class="col-block">
        <div
          class="col-box"
          style="text-align: center; color: blue; font-size: 25px"
        >
          <h2 class="small">Pre-Clinical Departments</h2>
        </div>
        <nav class="col-box mt12rem">
          <ul class="btn-row-container">
            <li class="btn-link">
              <a href="departments.html#hematology-oncology"
                ><span class="ico-arrow">Anatomy</span></a
              >
            </li>
            <li class="btn-link">
              <a href="departments.html#den"
                ><span class="ico-arrow">Physiology</span></a
              >
            </li>
            <li class="btn-link">
              <a href="departments.html#cardiovascular"
                ><span class="ico-arrow">Biochemistry</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="parac" class="l-row-cont">
      <div class="l-col-cont cont-ttl">
        <div class="cont-ttl-box"></div>
      </div>
      <div class="l-col-cont cont-body">
        <div class="col-block">
          <div
            class="col-box"
            style="
              text-align: center;
              color: blue;
              font-size: 25px;
              padding-bottom: 15px;
            "
          >
            <h2 class="small">Para-Clinical Departments</h2>
          </div>
          <nav>
            <ul class="btn-row-container">
              <li class="btn-link">
                <a href="division.html#pdcu"
                  ><span class="ico-arrow">Microbioloy</span></a
                >
              </li>
              <li class="btn-link">
                <a href="division.html#otmcu"
                  ><span class="ico-arrow">Forensic Medicine</span></a
                >
              </li>
              <li class="btn-link">
                <a href="division.html#cgu"
                  ><span class="ico-arrow">Pharmacology</span></a
                >
              </li>
              <li class="btn-link">
                <a href="division.html#ccu"
                  ><span class="ico-arrow">Community Medicine</span></a
                >
              </li>
              <li class="btn-link">
                <a href="departments.html#women"
                  ><span class="ico-arrow">Pathology</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div id="medis" class="l-row-cont">
        <div class="l-col-cont cont-ttl">
          <div class="cont-ttl-box">
            <h2 class="small"></h2>
          </div>
        </div>
        <div class="l-col-cont cont-body">
          <div class="col-block">
            <div
              class="col-box"
              style="
                text-align: center;
                color: blue;
                font-size: 25px;
                padding-bottom: 15px;
              "
            >
              <h2 class="small">Medical Specialities</h2>
            </div>
            <nav>
              <ul class="btn-row-container">
                <li class="btn-link">
                  <a href="central.html#clinical-laboratory"
                    ><span class="ico-arrow">General Medicine</span></a
                  >
                </li>
                <li class="btn-link">
                  <a href="central.html#ict"
                    ><span class="ico-arrow">Pediatrics</span></a
                  >
                </li>
                <li class="btn-link">
                  <a href="central.html#surgery"
                    ><span class="ico-arrow"
                      >Tuberculosis and Chest Diseases</span
                    ></a
                  >
                </li>
                <li class="btn-link">
                  <a href="central.html#crsu"
                    ><span class="ico-arrow">Skin & V. D.</span></a
                  >
                </li>
                <li class="btn-link">
                  <a href="departments.html#pcem"
                    ><span class="ico-arrow">Psychiatry</span></a
                  >
                </li>
                <li class="btn-link">
                  <a href="central.html#rehabilitation"
                    ><span class="ico-arrow">Radiology</span></a
                  >
                </li>
                <li class="btn-link">
                  <a href="central.html#medical-equipment"
                    ><span class="ico-arrow">Anesthesiology</span></a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div id="mediss" class="l-row-cont">
          <div class="l-col-cont cont-ttl">
            <div class="cont-ttl-box">
              <h2 class="small"></h2>
            </div>
          </div>
          <div class="l-col-cont cont-body">
            <div class="col-block">
              <div
                class="col-box"
                style="
                  text-align: center;
                  color: blue;
                  font-size: 25px;
                  padding-bottom: 15px;
                "
              >
                <h2 class="small">Medical Super Specialties</h2>
              </div>
              <nav>
                <ul class="btn-row-container">
                  <li class="btn-link">
                    <a href="management.html#nursing"
                      ><span class="ico-arrow">Cardiologyt</span></a
                    >
                  </li>
                  <li class="btn-link">
                    <a href="management.html#pharmacy"
                      ><span class="ico-arrow">Neurology</span></a
                    >
                  </li>
                  <li class="btn-link">
                    <a href="management.html#mitap"
                      ><span class="ico-arrow">Nephrology</span></a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div id="surs" class="l-row-cont">
            <div class="l-col-cont cont-ttl">
              <div class="cont-ttl-box">
                <h2 class="small"></h2>
              </div>
            </div>
            <div class="l-col-cont cont-body">
              <div class="col-block">
                <div
                  class="col-box"
                  style="
                    text-align: center;
                    color: blue;
                    font-size: 25px;
                    padding-bottom: 15px;
                  "
                >
                  <h2 class="small">Surgical Specialties</h2>
                </div>
                <nav>
                  <ul class="btn-row-container">
                    <li class="btn-link">
                      <a
                        href="https://www.kuhp.kyoto-u.ac.jp/~iact/en/"
                        target="_blank"
                        ><span class="ico-arrow blank">General Surgery</span></a
                      >
                    </li>
                    <li class="btn-link">
                      <a
                        href="https://www.kuhp.kyoto-u.ac.jp/~iact/en/"
                        target="_blank"
                        ><span class="ico-arrow blank">Orthopedics</span></a
                      >
                    </li>
                    <li class="btn-link">
                      <a
                        href="https://www.kuhp.kyoto-u.ac.jp/~iact/en/"
                        target="_blank"
                        ><span class="ico-arrow blank">Ophthalmology</span></a
                      >
                    </li>
                    <li class="btn-link">
                      <a
                        href="https://www.kuhp.kyoto-u.ac.jp/~iact/en/"
                        target="_blank"
                        ><span class="ico-arrow blank"
                          >Otorhinolaryngology (ENT)</span
                        ></a
                      >
                    </li>
                    <li class="btn-link">
                      <a
                        href="https://www.ki-connect.kuhp.kyoto-u.ac.jp/en/"
                        target="_blank"
                        ><span class="ico-arrow blank"
                          >Obstetrics & Gynecology</span
                        ></a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

            <div id="surss" class="l-row-cont">
              <div class="l-col-cont cont-ttl">
                <div class="cont-ttl-box">
                  <h2 class="small"></h2>
                </div>
              </div>
              <div class="l-col-cont cont-body">
                <div class="col-block">
                  <div
                    class="col-box"
                    style="
                      text-align: center;
                      color: blue;
                      font-size: 25px;
                      padding-bottom: 15px;
                    "
                  >
                    <h2 class="small">Surgical Super Specialties</h2>
                  </div>
                  <nav>
                    <ul class="btn-row-container">
                      <li class="btn-link">
                        <a href="research-education.html#education"
                          ><span class="ico-arrow"
                            >Cardiovascular and Thoracic Surgery</span
                          ></a
                        >
                      </li>
                      <li class="btn-link">
                        <a href="research-education.html#ips"
                          ><span class="ico-arrow">Neuro-Surgery</span></a
                        >
                      </li>
                      <li class="btn-link">
                        <a href="research-education.html#ncpsc"
                          ><span class="ico-arrow">Pediatric Surgery</span></a
                        >
                      </li>
                      <li class="btn-link">
                        <a href="http://ehr.realwired.net/w/en/" target="_blank"
                          ><span class="ico-arrow blank"
                            >Plastic Surgery</span
                          ></a
                        >
                      </li>
                      <li class="btn-link">
                        <span class="no-link">Urosurgery</span>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>

              <div id="alls" class="l-row-cont">
                <div class="l-col-cont cont-ttl">
                  <div class="cont-ttl-box">
                    <h2 class="small"></h2>
                  </div>
                </div>
                <div class="l-col-cont cont-body">
                  <div class="col-block">
                    <div
                      class="col-box"
                      style="
                        text-align: center;
                        color: blue;
                        font-size: 25px;
                        padding-bottom: 15px;
                      "
                    >
                      <h2 class="small">Allied Services</h2>
                    </div>
                    <nav>
                      <ul class="btn-row-container">
                        <li class="btn-link">
                          <a href="research-education.html#education"
                            ><span class="ico-arrow">Dentistry</span></a
                          >
                        </li>
                        <li class="btn-link">
                          <a href="research-education.html#ips"
                            ><span class="ico-arrow"
                              >Bio Medical Waste Management</span
                            ></a
                          >
                        </li>
                        <li class="btn-link">
                          <a href="research-education.html#ncpsc"
                            ><span class="ico-arrow">Blood Bank</span></a
                          >
                        </li>
                        <li class="btn-link">
                          <a
                            href="http://ehr.realwired.net/w/en/"
                            target="_blank"
                            ><span class="ico-arrow blank">Eye Bank</span></a
                          >
                        </li>
                        <li class="btn-link">
                          <span class="no-link">Physiotherapy</span>
                        </li>
                        <li class="btn-link">
                          <span class="no-link">Nursing</span>
                        </li>
                        <li class="btn-link">
                          <span class="no-link"
                            >Body / Kidney / Organ donation</span
                          >
                        </li>
                        <li class="btn-link">
                          <span class="no-link"
                            >Institute of Nursing education</span
                          >
                        </li>

                        <li class="btn-link">
                          <a href="research-education.html#education"
                            ><span class="ico-arrow"
                              >Disaster Management</span
                            ></a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div id="hivai" class="l-row-cont">
                  <div class="l-col-cont cont-ttl">
                    <div class="cont-ttl-box">
                      <h2 class="small"></h2>
                    </div>
                  </div>
                  <div class="l-col-cont cont-body">
                    <div class="col-block">
                      <div
                        class="col-box"
                        style="
                          text-align: center;
                          color: blue;
                          font-size: 25px;
                          padding-bottom: 15px;
                        "
                      >
                        <h2 class="small">HIV AIDS</h2>
                      </div>
                      <nav>
                        <ul class="btn-row-container">
                          <li class="btn-link">
                            <a href="research-education.html#education"
                              ><span class="ico-arrow">ICTC</span></a
                            >
                          </li>
                          <li class="btn-link">
                            <a href="research-education.html#ips"
                              ><span class="ico-arrow">ART</span></a
                            >
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
