<div class="container">
  <div class="card text-center" style="margin-top: 30px; margin-bottom: 30px">
    <div class="card-header">MBBS Course</div>
    <div class="card-body">
      <div class="card-text">
        <div class="data-left">
          <i
            class="fa fa-book-medical"
            style="font-size: 20px; color: #ff8811"
          ></i>
        </div>
        <div class="data-right">
          There are 200 admissions to MBBS course every year in the college.
        </div>

        <br />

        <div class="data-left">
          <i
            class="fa fa-book-medical"
            style="font-size: 20px; color: #ff8811"
          ></i>
        </div>
        <div class="data-right">
          The admissions are on the basis of merit of All India NEET with
          constitutional reservations, done by the centralised process by Govt.
          of Maharashtra.
        </div>

        <br />

        <div class="data-left">
          <i
            class="fa fa-book-medical"
            style="font-size: 20px; color: #ff8811"
          ></i>
        </div>
        <div class="data-right">
          The breakup of seats is 15% by DGHS GOI, of the remaining seats, 30%
          for State Level and 70% for Development board area (Rest of
          Maharashtra).There are about 1000 medical students studying in B. J.
          Govt. Medical College.
        </div>

        <br />

        <div class="data-left">
          <i
            class="fa fa-book-medical"
            style="font-size: 20px; color: #ff8811"
          ></i>
        </div>
        <div class="data-right">
          MBBS - Recognized by MCI &amp; MUHS.
          <br />
          BPMT -&nbsp; Recognized by MUHS.
        </div>

        <br />

        <div class="data-left">
          <i
            class="fa fa-book-medical"
            style="font-size: 20px; color: #ff8811"
          ></i>
        </div>
        <div class="data-right">
          M.B.B.S. = 200 (MCI &amp; MUHS).<br />B.P.M.T. = 092 (M.U.H.S.).
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center" style="margin-top: 30px; margin-bottom: 30px">
    <div class="card-header">Internship</div>
    <div class="card-body text-center">
      <div class="card-text">
        <h4>Organised by department of PSM.</h4>
      </div>
    </div>
  </div>
  <div class="card text-center" style="margin-top: 30px; margin-bottom: 30px">
    <div class="card-header">Nursing course</div>
    <div class="card-body text-center">
      <div class="card-text">
        <h4>
          Every year 50 candidates are admitted to the B.Sc. Nursing course,
          which is of 3 and half years duration.
        </h4>
      </div>
    </div>
  </div>
  <div class="card-group" style="margin-top: 30px; margin-bottom: 30px">
    <div class="card" style="margin-right: 15px">
      <div class="card-header">
        <b>Vice-Chancellor</b>
      </div>
      <div class="card-body">
        <div class="img" style="float: left; padding-right: 20px">
          <figure class="figure">
            <img
              src="/assets/about-us/university/vice-chancellor.jpg"
              class="figure-img img-fluid img-thumbnail"
            />
          </figure>
        </div>
        <div class="univcontent">
          <p>
            <b> Prof. Dr. Deelip Mhaisekar</b> <br />Phone No. (0253) 2539114/
            (0253) 2539128 <br />
            Fax No. (0253) 2539113 <br />
            e-mail: vc@muhs.ac.in <br />
            Office e-mail: vcoffice@muhs.ac.in
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <b>Registrar</b>
      </div>
      <div class="card-body">
        <div class="img" style="float: left; padding-right: 20px">
          <figure class="figure">
            <img
              src="/assets/about-us/university/registrar.jpg"
              class="figure-img img-fluid img-thumbnail"
            />
          </figure>
        </div>
        <div class="univcontent">
          <p>
            <b> Dr. Kalidas Chavan</b> <br />
            Phone No. (0253) 2539294 <br />Fax No. (0253) 2539295 <br />e-mail:
            registrar@muhs.ac.in
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <b>Deputy Dean(in charge of Undergraduates)</b>
    </div>
    <div class="card-body">
      <div class="img" style="float: left; padding-right: 20px">
        <figure class="figure">
          <img
            src="../../../../assets/images/profile.png"
            class="figure-img img-fluid img-thumbnail"
          />
        </figure>
      </div>
      <div class="univcontent">
        <p>
          <b> Name&nbsp; : Dr. Arun N. Kowale</b> <br />
          Qualification : M. B. B. S. , M.D. (Physiology) <br />
          Tel: 020 26102296 <br />
          020 26123872 <br />
          Cell: 9960762233 <br />
          Fax (Office) : 020-26126868 <br />
          020-26130991 <br />
          E-mail Id : ugbjgmcpune@gmail.com
        </p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 30px; margin-bottom: 30px">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ug student Admission link</h5>
          <p class="card-text">list of admission in year 2016.</p>
          <button
            onclick='location.href="assets/pdfs/PG admission 2016.pdf"'
            target="_blank"
            class="primary-btn"
          >
            Click here
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">More information</h5>
          <p class="card-text">Visit given links for more information</p>
          <button
            onclick='location.href="http://www.dmer.org "'
            target="_blank"
            class="primary-btn"
          >
            Click here
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
