<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-sm-6" style="margin-bottom: 25px">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ug student Admission link</h5>
          <p class="card-text">
            The list contains list of admission in year 2016.
          </p>
          <a
            href="assets/pdfs/PG admission 2016.pdf"
            target="_blank"
            class="btn btn-primary"
            >Click here</a
          >
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">More information</h5>
          <p class="card-text">Visit given links for more information</p>
          <a href="http://www.dmer.org " class="btn btn-primary">Click here</a>
        </div>
      </div>
    </div>

    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">MBBS Course:</h5>
          <p class="card-text">
            There are 200 admissions to MBBS course every year in the college.
            The admissions are on the basis of merit of All India NEET with
            constitutional reservations, done by the centralised process by
            Govt. of Maharashtra. The breakup of seats is 15% by DGHS GOI, of
            the remaining seats, 30% for State Level and 70% for Development
            board area (Rest of Maharashtra).
          </p>
          <p>
            There are about 1000 medical students studying in B. J. Govt.
            Medical College.
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Internship:</h5>
          <p class="card-text">Organised by department of PSM</p>
        </div>
        <div class="card-footer"></div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nursing course:</h5>
          <p class="card-text">
            Every year 50 candidates are admitted to the B.Sc. Nursing course,
            which is of 3 and half years duration.
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <table class="table table-hover" border="1">
      <tbody>
        <tr>
          <td>
            <p>Sanctioned intake capacity of various courses UG by the MCI</p>
          </td>
          <td>
            <p>
              M.B.B.S. = 200 (MCI &amp; MUHS).<br />B.P.M.T. = 092 (M.U.H.S.).
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>University Affiliation and its Vice-Chancellor and registrar.</p>
          </td>
          <td>
            <p>
              Maharashtra University of Health Science, Nahsik.<br />V.C. -
              Prof. Dr. Deelip Mhaisekar<br />Registrar - Dr. Kalidas D. Chavan
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Status of recognition of all the courses.</p>
          </td>
          <td>
            <p>
              MBBS - Recognized by MCI &amp; MUHS.<br />BPMT -&nbsp; Recognized
              by MUHS.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Deputy Dean</p>
            (in charge of Undergraduates)
          </td>
          <td>
            <p>
              Name&nbsp; : Dr. Arun N. Kowale<br />Qualification : M. B. B. S. ,
              M.D.&nbsp;<br />(Physiology)
            </p>
            <p>
              Tel: 020 26102296<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 020
              26123872<br />Cell: 9960762233
            </p>
            Fax (Office) : 020-26126868<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            020-26130991<br />E-mail Id : ugbjgmcpune@gmail.com
          </td>
        </tr>
      </tbody>
    </table>
    <!--
        <h1><strong>Hostel Facilities</strong></h1>
        <table class="table table-hover texthead2" border="1" width="100%" cellspacing="2" cellpadding="5">
          <tbody>
            <tr>
            <td colspan="2">
            <p align="center"><strong>Accommodation (No. of rooms) available for</strong></p>
            </td>
            </tr>
            <tr>
            <td colspan="2">
            <p><strong>For U. G. Students</strong></p>
            </td>
            </tr>
            <tr>
            <td width="50%">
            <p><strong>Total accommodation</strong></p>
            </td>
            <td width="50%">
            <p>(A) Boys hostel 208 rooms</p>
            </td>
            </tr>
            <tr>
            <td width="50%">
            <p>&nbsp;</p>
            </td>
            <td width="50%">
            <p>(B) Girls hostel 220 rooms</p>
            </td>
            </tr>
            <tr>
            <td width="50%">
            <p><strong>(A) At Girls hostel</strong></p>
            </td>
            <td width="50%">
            <p>1 Senior UG per room<br />2 Junior UG per room</p>
            </td>
            </tr>
            <tr>
            <td width="50%">
            <p><strong>(B) At Boys hostel</strong></p>
            </td>
            <td width="50%">
            <p>2 Senior UG per room<br />3 Junior UG per room</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>&nbsp;</p>
            </td>
            <td>
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr>
            <td width="50%">
            <p><strong>No. of Students (Capacity)</strong></p>
            </td>
            <td width="50%">
            <p>(A) Girls hostel: 302, (B) Boys hostel: 524</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>&nbsp;</p>
            </td>
            <td>
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr>
            <td>
            <p><strong>Distance from Hospital</strong></p>
            </td>
            <td>
            <p>About 0.5 km</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>&nbsp;</p>
            </td>
            <td>
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr>
            <td>
            <p><strong>If there is Mess for students</strong></p>
            </td>
            <td>
            <p>(A) At Girls hostel Students' Co-op. mess : 1</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>&nbsp;</p>
            </td>
            <td>
            <p>(B) At Boys hostel: Students' Co-op. mess : 1</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>&nbsp;</p>
            </td>
            <td>
            <p>Contractor system mess : 1</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>&nbsp;</p>
            </td>
            <td>
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr>
            <td>
            <p><strong>Supervision arrangements</strong></p>
            </td>
            <td>
            <p>Supervision by :<br />(1) Dean<br />(2) Dy. Dean (V.G.)<br />(3) Rector<br />(4) Warden (for both hostels)<br />(5) Lady Superintendent (Residential)<br />(6) Students' Co-op. Mess Committee</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>&nbsp;</p>
            </td>
            <td>
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr>
            <td>
            <p><strong>Recreation facilities</strong></p>
            </td>
            <td>
            <p>(1) T.V. cum Table Tennis hall<br />(2) Reading room in both hostels<br />(3) Recreation hall</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>&nbsp;</p>
            </td>
            <td>
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr>
            <td>
            <p><strong>Sports and others</strong></p>
            </td>
            <td>
            <p>(1) Volly-ball Ground (at Gents' hostel)<br />(2) Basket-ball Ground (under process)<br />(3) Cricket Ground, Football Ground<br />(4) Badminton hall with wooden flooring<br />(5) Gym hall<br />(6) Facility for Single &amp; Double Bar exercise</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>&nbsp;</p>
            </td>
            <td>
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr>
            <td>
            <p><strong>Administrative control</strong></p>
            </td>
            <td>
            <p>(1) Dean<br />(2) Dy. Dean (V.G.)<br />(3) Rector<br />(4) Hostel Managing Committee</p>
            </td>
            </tr>

            </tbody>
        </table>
      -->
  </div>
</div>
